/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

table{
  width: 100%;
}

/*The labels on each of the sliders
*/
#upper-half-div table tr td p{
  text-align: center;
  margin-top: 1vh;
  margin-bottom: -1vh;
  font-size: 15px;
}

#lower-half-div-wrapper{
  background-color: #ffffff;
}

#lower-half-div{
   background-color: #ffffff;
   height: 42vh;
   padding: 10px;
   margin: 0px;
   overflow: scroll;
 }


#upper-half-div{
  background-color: #ccffff;
  height: 42vh;
  margin-top: 10vh;
  overflow-y: scroll;
}

#footer-div{
  height: 6vh;
}

 /*Used for side menu movement*/
#wrapper {
     padding-left: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 #wrapper.toggled {
     padding-left: 200px;
 }

 #sidebar-wrapper {
     z-index: 1000;
     position: fixed;
     left: 0px;
     width: 0px;
     height: 100%;
     overflow-y: auto;
     background: #000;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 #wrapper.toggled #sidebar-wrapper {
     width: 200px;
 }

 #page-content-wrapper {
     width: 100%;
     position: absolute;
     padding: 0px;
 }

 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right: -200px;
 }

 /* Sidebar Styles */

 .sidebar-nav {
     position: absolute;
     top: 0;
     width: 200px;
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
 }

 .sidebar-nav li a {
     display: block;
     text-decoration: none;
     color: #999999;
 }

 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #fff;
     background: rgba(255,255,255,0.2);
 }

 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
     text-decoration: none;
 }

 .sidebar-nav > .sidebar-brand {
     height: 65px;
     font-size: 18px;
     line-height: 60px;
 }

 .sidebar-nav > .sidebar-brand a {
     color: #999999;
 }

 .sidebar-nav > .sidebar-brand a:hover {
     color: #fff;
     background: none;
 }

.pocket-hockey-title{/*title text for "Pocket Hockey"*/
  color: #ffffff;
}

.navbar-toggle-custom{
  border-color: #ffee00!important;/*yellow outline of top button*/
}

.sr-only{
    background-color: #ffee00;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffee00;
}

#title{
  color: #00258c;
  font-size: 5vh;
  margin: 0;
}

span.glyphicon-menu-hamburger{
  font-size: 4vh;
  padding: 0px;
  margin-top: 0.5vh;
}

#menu-toggle{
  margin-top: 0;
  z-index: 100000;
  padding: 3px;
}

#page-header{/*Blue top border*/
  border-color: #f2f2f2;
  background-color: #ffffff;
  border-style: none none solid none;
  border-width: 5px;
  height: 10vh;
  width: 100%;
  z-index: 100;
  padding: 10px;
  margin: 0px;
  position: absolute;
  top: 0px;
}


* {
    /*-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    overflow-x: hidden!important;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
